{% extends "::structure.html.twig" %}

{% block metaTitle %}Ajouter une actualité{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css">
{% endblock %}

{% block granted %}{% endblock %}

{% block main %}
    <div class="bloc">
        <h2 id="actus-add">Ajouter une actualité</h2>
        
        <div class="form-actus center">
            {{ include("AdminBundle:Admin:form.html.twig") }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script> 
    <script type="text/javascript">
        $("form").validate({
            rules: {
                "advert[title]": "required",
                "advert[category]": "required",
                "advert[address]": "required",
            },
            messages: {
                "advert[title]": "Vous devez entrer un titre.",
                "advert[category]": "Vous devez sélectionner une catégorie.",
                "advert[address]": "Vous devez sélectionner une adresse.",
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent());
            }
        });
        
        $('#advert_submit').click(function() {
            var btn = $(this);
            var form = $("form");
            if (form.valid()) {
                $(btn).html('<i class="fa fa-spinner fa-spin"></i> Publication en cours');
            }
        });
        
        // Hidden Other Address
        $(document).ready(function () {
            $('#advert_address').click(function () {
                if($('#advert_address_3').is(':checked')) {
                    $('#otherAddress').fadeIn();
                } else {
                    $('#otherAddress').fadeOut();
                }
            });

            $('#advert_address').trigger('click');
        });
    </script>
      
{% endblock %}
 