{% extends "::structure.html.twig" %}

{% block metaTitle %}Bibliographie{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuBibliographie %}class="activeMenu"{% endblock %}
{% block activeMenuBibliographie %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc bibliographie">
        <h2>Bibliographie</h2>
        
        <p>
            <a href="#bibliographie_chamanisme">&#x27A5; Chamanisme</a><br>
            <a href="#bibliographie_conscience">&#x27A5; Conscience</a><br>
            <a href="#bibliographie_NDE">&#x27A5; NDE / EMI / <span class="nowrap">Relation à la mort</span></a><br>
            <a href="#bibliographie_psychologie">&#x27A5; Psychologie / Évolution / <span class="nowrap">Développement personnel</span></a><br>
            <a href="#bibliographie_sophrologie_et_relaxation">&#x27A5; Sophrologie / Relaxation</a><br>
            <a href="#bibliographie_spiritualite">&#x27A5; Spiritualité</a>
        </p>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_chamanisme">CHAMANISME</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>ALLESI RAVASINI Océane</strong>, <i>"Le chamanisme en 30 leçons"</i> (éditions Encre).
            </li>
            <li>
                <strong>ANTONETTI Josiane</strong>, <i>"Murmures de l'âme"</i> (éditions des 3 Monts) et <i>"Voyageuse de l'Invisible"</i> (éditions des 3 Monts).
            </li>
            <li>
                <strong>ANSA Luis</strong>, <i>"Le quatrième royaume"</i> et <i>"Le mystère du Nagual"</i>.
            </li>
            <li>
                <strong>CASTANEDA Carlos</strong>, la collection ! (L'auteur en a écrit plusieurs).
            </li>
            <li>
                <strong>Dr. CHAMBON Olivier</strong>, <i>"Psychothérapie et chamanime"</i> (éditions Véga).
            </li>
            <li>
                <strong>Dr. CHAMBON Olivier et Laurent HUGUELIT</strong>, <i>"Le chamane et le psy"</i> (éditions Mama).
            </li>
            <li>
                <strong>COEFFE Nadine</strong>, <i>"Ecoute l'appel de la vie"</i> et <i>"Aide-toi et la Terre t'aidera"</i>.
            </li>
            <li>
                <strong>COSTA Jean Patrick</strong>, <i>"Les chamans hier et aujourd'hui"</i> (éditions Alphée).
            </li>
            <li>
                <strong>DEGRYSSE Paul</strong>, <i>"Chamane, le chemin des Immortels"</i>.
            </li>
            <li>
                <strong>DON MARCELINO</strong>, <i>"Le voyage sacré Amérindien"</i> (éditions l’Originel).
            </li>
            <li>
                <strong>DON MIGUEL RUIZ</strong>, <i>"Les quatre accords Toltèques"</i>, <i>"Au delà de la peur"</i> et <i>"La voix de la connaissance"</i>.
            </li>
            <li>
                <strong>HARNER Michael</strong>, <i>"La voie du chamane"</i> (éditions Mama).
            </li>
            <li>
                <strong>HUGUELIT Laurent</strong>, <i>"Les huits circuits de conscience"</i> (éditions Mama).
            </li>
            <li>
                <strong>KOUNEN Jan, NARBY Jérémy et RAVALEC Vincent</strong>, <i>"Plantes et chamanisme"</i> (éditions Mama).
            </li>
            <li>
                <strong>LENAIF Philippe</strong>, <i>"Naissance d'un chaman"</i> (livre 1) et <i>"J'ai dansé avec mon ombre"</i> (éditions du Souffle d'or).
            </li>
            <li>
                <strong>MEADOWS Kenneth</strong>, <i>"La voie médecine"</i> (Guy Trédaniel éditeur).
            </li>
            <li>
                <strong>MOSS Robert</strong>, <i>"Les Iroquois et le rêve chamanique"</i> (éditions Véga).
            </li>
            <li>
                <strong>PAYEUR Charles Raphael</strong>, <i>"La roue de médecine Amérindienne"</i> (éditions de l’Aigle).
            </li>
            <li>
                <strong>Dr. SCHALLER Christian Tal</strong>, <i>"Le pouvoir des chamans"</i> (éditions Véga), <i>"Artisans de leur miracle"</i> (éditions Vivez Soleil) et <i>"Eloge de la folie douce"</i> (éditions Vivez Soleil).
            </li>
            <li>
                <strong>SOMBRUN Corinne</strong>, <i>"Journal d'une apprentie chamane"</i>, <i>"Mon initiation chez les chamanes"</i> et <i>"Les tribulations d'une chamane à Paris"</i>.
            </li>
            <li>
                <strong>T.C McLUHAN et CURTIS</strong>, <i>"Pieds nus sur la terre sacrée"</i> (éditions Denoel).
            </li>
            <li>
                <strong>YWAHOO Dhyani</strong>, <i>"Sagesse Amérindienne"</i> (Le 9ème jour Editeur).
            </li>
        </ul>
        
        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_chamanisme.jpg') }}" alt="Image de chamanisme">
        </div>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_conscience">CONSCIENCE</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>DAN MILLMAN</strong>, <i>"Le guerrier pacifique"</i> (éditions Vivez Soleil) et <i>"Le voyage sacré du guerrier pacifique"</i> (éditions J'ai lu, collection aventure secrète).
            </li>
            <li>
                <strong>ECKHART Tolle</strong>, <i>"Le pouvoir du moment présent"</i> (édition Ariane), <i>"Mettre en pratique le pouvoir du moment présent"</i> (édition J’ai lu) et <i>"Nouvelle Terre"</i> (édition Ariane).
            </li>
            <li>
                <strong>GROF Stanislav et Chritina</strong>, <i>"A la recherche de Soi"</i> (éditions du Rocher), <i>"Psychologie transpersonnelle"</i> et <i>"Quand l’impossible arrive"</i> (éditions Guy Trédaniel).
            </li>
            <li>
                <strong>MOSS Richard</strong>, <i>"Le papillon noir"</i> (édition Souffle d'Or).<br>
                Invitation à un changement radical.
            </li>
            <li>
                <strong>SRI AUROBINDO</strong>, <i>"L'aventure de la conscience"</i> (édition Satprem).
            </li>
            <li>
                <strong>THICH NHAT HANH</strong>, <i>"Le miracle de la pleine Conscience, manuel pratique de méditation"</i> (éditions l’Espace bleu), <i>"Clés pour le zen"</i>, <i>"La colère"</i> (éditions Pocket) et <i>Enseignement sur l’amour</i> (éditions Albin Michel).
            </li>
        </ul>
        
        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_conscience.jpg') }}" alt="Image de chamanisme">
        </div>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_NDE">NDE / EMI  et relation à la mort</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>ALLIX Stéphane et BERNSTEIN Paul</strong>, <i>"Manuel clinique des expériences extraordinaires"</i> (éditions Dunod).
            </li>
            <li>
                <strong>BAILEY Alice</strong>, <i>"La mort la grande aventure"</i>.
            </li>
            <li>
                <strong>CANIVENQ Nicole</strong> (Expérienceuse), <i>"L'arbre du choix, témoignage d'une Initiation à la Vie par la Mort"</i> (éditions Le Temps Présent).
            </li>
            <li>
                <strong>Dr. CHARBONIER Jean Jacques</strong>, <i>"L'après-vie existe"</i>, <i>"La médecine face à l'au-delà"</i>, <i>"Histoires incroyables d'un anesthésiste réanimateur"</i> et <i>"Les 7 bonnes raisons de croire à l’au-delà"</i>.
            </li>
            <li>
                <strong>DRON Nicole</strong> (Expérienceuse), <i>"45 secondes d'éternité, mes souvenirs de l'Au-delà"</i> (éditions Kymzo).
            </li>
            <li>
                <strong>FOOS GRABER Anya</strong>, <i>"La porte oubliée"</i> (éditions Arista).<br>
                Une alternative intelligente aux derniers moments de la vie.
            </li>
            <li>
                <strong>JANKOVICH Stévan Von</strong> (Expérienceur), <i>"La Mort, ma plus belle expérience"</i>, Préface de  Elisabeth KUBLER ROSS (éditions Au Signal, Lausanne).
            </li>
            <li>
                <strong>Dr. JOURDAN Jean Pierre</strong>, <i>"Death Line"</i>.
            </li>
            <li>
                <strong>KENNEFER Jean Paul</strong>, <i>"L'esprit masqué ou l'ésotérisme démasqué"</i>.
            </li>
            <li>
                <strong>Dr. KUBLER ROSS Elisabeth</strong> traduits en français :
                <ul>
                    <li><i>"Leçons de vie"</i> - en collaboration avec David Kessler - (éditions Lattès, Paris, 2002)</li>
                    <li><i>"La mort est un nouveau soleil"</i> (éditions Rocher, Paris, 2000 ; Pocket, 2002)</li>
                    <li><i>"Avant de se dire au revoir"</i> (éditions Presse du Châtelet, Paris, 1999)</li>
                    <li><i>"Mémoires de vie, mémoires d'éternité"</i> (éditions Lattès, Paris, 1998 ; Pocket, 1999)</li>
                    <li><i>"La mort est une question vitale"</i> (éditions Albin Michel, Paris, 1996 ; Pocket, 2000)</li>
                    <li><i>"La mort, porte de la vie"</i> (éditions LGF, 1995 ; Pocket)</li>
                    <li><i>"La mort, dernière étape de la croissance"</i> (éditions Rocher, Paris, 1994 ; Pocket, 2002)</li>
                </ul>
            </li>
            <li>
                <strong>MARCOU Cathy</strong> (Expérienceuse), <i>"Au cœur de l’ineffable"</i> (édition Mon petit éditeur).
            </li>
            <li>
                <strong>MAURER Daniel</strong>, <i>"La Vie à corps perdu"</i> (éditions Les 3 Monts, 2001), <i>"Les expériences de mort imminente"</i> (éditions du Rocher) et <i>"L'autre réalité, l'au-delà"</i>.
            </li>
            <li>
                <strong>MOCHE Michel</strong>, <i>"L'accompagnement de ceux qui partent et de ceux qui restent"</i> (éditons Le coeur des Signes).
            </li>
            <li>
                <strong>MONTINERI Nicole</strong> (Expérienceuse), <i>"N'ayons plus peur de mourir"</i> (éditions Accarias L'Originel).
            </li>
            <li>
                <strong>MOODY Raymond</strong>, <i>"La vie après la vie"</i>.
            </li>
            <li>
                <strong>MOORJANI Anita</strong>, <i>"Revenue guérie de l’au-delà"</i> (éditions J’ai lu).
            </li>
            <li>
                <strong>MORSE Melvin</strong>, <i>"Des enfants dans la lumière de l'au-delà"</i>.
            </li>
            <li>
                <strong>MORZELLE Jean</strong> (Expérienceur), <i>"Tout commence après"</i>.
            </li>
            <li>
                <strong>MOULIN Anne Marie</strong> (Expérienceuse), <i>"Le papillon libéré"</i> (éditions Le Temps Présent).
            </li>
            <li>
                <strong>Dr. OSIS Karlis et Dr. HARALDSSON Erlendur</strong>, <i>"Ce qu'ils ont vu au seuil de la mort"</i>.
            </li>
            <li>
                <strong>RAGUENEAU Philippe</strong>, <i>"L'autre côté de la vie"</i>.
            </li>
            <li>
                <strong>RING Kenneth</strong>, <i>"En route vers OMEGA"</i>.
            </li>
            <li>
                <strong>TOURNEUR Bruno</strong> (Expérienceur), <i>"Vivant dans un cercueil dans le Ciel"</i> (éditions BOD : books on demand, ISBN: 9782810615568).
            </li>
            <li>
                <strong>VAN EERSEL Patrice</strong>, <i>"La source noire"</i> (éditions Grasset), <i>"Réapprivoiser la mort"</i> (éditions Albin Michel, 1997) et <i>La source Blanche"</i>.
            </li>
            <li>
                <strong>VERMEULEN Danielle</strong>, <i>"Nde et expériences mystiques d'hier et d'aujourd'hui"</i> (éditions Le Temps Présent).
            </li>
        </ul>
        
        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_NDE.jpg') }}" alt="Image de chamanisme">
        </div>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_psychologie">PSYCHOLOGIE / EVOLUTION ET DEVELOPPEMENT PERSONNEL</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>ANDRE Christophe</strong>, <i>"Vivre heureux"</i>.
            </li>
            <li>
                <strong>BENSAID Catherine</strong>, <i>"Aime-toi, la vie t'aimera"</i> (éditions Poket).
            </li>
            <li>
                <strong>BUCAY Jorge</strong>, <i>"Laisse moi te raconter... les chemins de la vie"</i> (éditions Pocket).
            </li>
            <li>
                <strong>CAMERON Julia</strong>, <i>"Libérez votre créativité"</i> (éditions J’ai lu).
            </li>
            <li>
                <strong>CORNEAU Guy</strong>, <i>"La guérison du coeur"</i> (éditions Pocket) et <i>"Revivre"</i>.
            </li>
            <li>
                <strong>DUCROCQ Anne</strong>, <i>"Le courage de changer sa vie"</i> (éditions Le Relié).
            </li>
            <li>
                <strong>Dr. DUFOUR Daniel</strong>, <i>"Les tremblements intérieurs"</i> (éditions de l’Homme).
            </li>
            <li>
                <strong>FERBER Jacques</strong>, <i>"L'amant tantrique, L'homme sur la voie de la sexualité tantrique"</i>.
            </li>
            <li>
                <strong>GOUNELLE Laurent</strong>, <i>"L'homme qui voulait être heureux"</i>.<br>
                Écrit sous forme d'un roman initiatique, extraordinaire et rempli de sagesse. 
            </li>
            <li>
                <strong>JANSSEN Thierry</strong>, <i>"La maladie a-t-elle un <span class="nowrap">sens ?"</span></i> (éditions Fayard).
            </li>
            <li>
                <strong>JUNG C.G.</strong>, <i>"Essai d'exploration de l'inconscient"</i> (éditions Folio essais).
            </li>
            <li>
                <strong>LABONTE Marie Lise</strong>, <i>"Le déclic"</i> (éditions de l'homme) et <i>"Le point de rupture"</i> (éditions Albin Michel).
            </li>
            <li>
                <strong>Dr. LELEU Gérard</strong>, <i>"Le traité du plaisir, redécouvrir les saveurs de la vie"</i>.
            </li>
            <li>
                <strong>MC TAGGART Lynne</strong>, <i>"La science de l'intention"</i> (éditions Ariane).
            </li>
            <li>
                <strong>MILLER Alice</strong>, <i>"Le drame de l’enfant doué"</i> (éditions Puf).
            </li>
            <li>
                <strong>SALOME Jacques</strong>, <i>"Le courage d'être soi"</i>, <i>"Une vie à se dire"</i>, et <i>"Passeur de vies"</i> (éditions Pocket).
            </li>
            <li>
                <strong>SALOME Jacques et GALLAND Sylvie</strong>, <i>"Aimer et se le dire"</i> (éditions Pocket).
            </li>
            <li>
                <strong>SERVAN SCHREIBER David</strong>, <i>"On peut se dire au revoir plusieurs fois"</i> (éditions Robert Laffont).
            </li>
        </ul>
        
        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_psychologie.jpg') }}" alt="Fleurs violettes">
        </div>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_sophrologie_et_relaxation">SOPHROLOGIE ET RELAXATION</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>ABREZOL R.</strong>, <i>"Réussir ! Vaincre par la sophrologie"</i>.
            </li>
            <li>
                <strong>Dr. BOON H. , DAVROU Y., MACQUET J.C</strong>, <i>"La Sophrologie, une révolution en psychologie, pédagogie, médecine"</i> (éditions Retz Poche).
            </li>
            <li>
                <strong>Dr. CAYCEDO A.</strong>, <i>"Dictionnaire Abrégé de Sophrologie et Relaxation Dynamique"</i>.
            </li>
            <li>
                <strong>Dr. CHENE Patrick André</strong>, <i>"Sophrologie Tome 1 Fondements et méthodologie"</i> et <i>"Initiation à la sophrologie Caycédienne"</i> (éditions Praxis).<br>
                Un livre de base pour découvrir la sophrologie et pratiquer quelques exercices.
            </li>
            <li>
                <strong>Dr. FINTZ Bernard</strong>, <i>"Sophrologie et maternité"</i>.
            </li>
            <li>
                <strong>MANENT Geneviève</strong>, <i>"La relaxation au quotidien"</i> (2ème édition revue et augmentée).<br>
                Face aux parasites de la vie moderne, Geneviève MANENT nous montre comment prendre conscience de nos sensations, prendre du recul, transformer et valoriser chaque instant pour qu'il nourrisse notre créativité et notre joie de vivre. Nous pouvons ainsi rétablir un lien avec notre être intérieur. Dans ce livre, elle nous indique des moyens à la portée de tous, <span class="nowrap">pour :</span>
                <ul>
                    <li>reprendre sa <span class="nowrap">respiration ;</span></li>
                    <li>créer du temps d'intégration et d'assimilation de la vie quotidienne.</li>
                </ul>
            </li>
            <li>
                <strong>PAYEN DE LA GARANDERIE Agnès</strong>, <i>"La sophrologie autrement"</i>.<br>
                Ce livre clair et brillant à la fois, explique cet art de la détente mentale et psychique dont la résonance, très profonde, amène la guérison des maux psychologiques.
            </li>
            <li>
                <strong>PECOLLO J-Y.</strong>, <i>"La sophrologie au quotidien"</i>.<br>
                Un livre très clair et expliquant parfaitement le fonctionnement humain et les apports de la sophrologie pour une vie harmonieuse et équilibrée.
            </li> 
        </ul>

        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_relaxation.jpg') }}" alt="Image de coucher de soleil">
        </div>
    </div>
    
    <div class="bloc bibliographie">
        <h4 id="bibliographie_spiritualite">SPIRITUALITE</h4>
        
        <ul class="bibliographie_list">
            <li>
                <strong>BAUDOIN Bernard</strong>, <i>"Les Etres de Lumière"</i>.
            </li>
            <li>
                <strong>DALAI LAMA et CUTLER Howard</strong>, <i>"L'art du bonheur"</i> (éditions J'ai lu).
            </li>
            <li>
                <strong>DESJARDINS Arnaud</strong>, <i>"Retour à l'essentiel"</i>.
            </li>
            <li>
                <strong>DESJARDINS Arnaud et Véronique</strong>, <i>"Les formules de Swami Prajnanpad"</i> (éditions la Table Ronde).
            </li>
            <li>
                <strong>MAC LEAN Penny</strong>, <i>"Rencontre avec vos Anges gardiens"</i> (éditions Guy Trédaniel).
            </li>
            <li>
                <strong>MALLAZ Gitta</strong>, <i>"Dialogues avec l'ange"</i>.
            </li>
            <li>
                <strong>MONTAUD Bernard et Patricia</strong>, <i>"Dialoguer avec son ange, une voie spirituelle occidentale"</i>.
            </li>
            <li>
                <strong>Dr. SCHALLER Christian Tal</strong>, <i>"Entrez dans les mondes de lumières"</i> (éditions Vivez Soleil), <i>"Psychothérapie spirituelle"</i> et <i>"Communiquer avec ses guides spirituels"</i> (éditions Lanore).
            </li>
            <li>
                <strong>TRINLEY THAYE DORDJE</strong>, <i>"Le livre Bouddhiste de la sagesse et de l'amour"</i> (éditions Michel Lafon).
            </li>
            <li>
                <strong>VIRTUE Doreen</strong>, <i>"La voie des artisans de lumière"</i>, <i>"Visions angéliques"</i>, <i>"Déesses et Anges"</i> et <i>"Guérir avec l'aide des Anges"</i>.
            </li>
            <li>
                <strong>WALSCH Neale Donald</strong>, <i>"Conversation avec Dieu"</i> et <i>"Retour à Dieu, Une vie sans fin"</i> (éditions Ariane).
            </li>
        </ul>
        
        <div class="center">
            <img class="image-top" src="{{ asset('img/bibliographie_spiritualite.jpg') }}" alt="Fleurs de lotus">
        </div>
    </div>
{% endblock %}
