{% extends "::structure.html.twig" %}

{% block metaTitle %}Prendre un rendez-vous{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuContact %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuContactRDV %}class="activeMenu"{% endblock %}
{% block activeMenuContact %}class="activeSousMenu"{% endblock %}
{% block activeMenuContactRDV %}class="activeMenu"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <div class="bloc">
        <h2 id="formulaire_rdv">Demande de rendez-vous en ligne</h2>

        <p class="smaller">
            Si vous désirez demander des renseignements, merci de vous rediriger vers le lien <span class="nowrap">suivant :</span> <a href="{{ path('website_contact') }}">formulaire de contact</a>.
        </p>
    </div>
    
    <div class="bloc">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                <div>
                    <strong>Message flash :</strong> {{ message }}
                </div>
                <div>
                    <span class="close">×</span>
                </div>
            </div>
        {% endfor %}

        <div id="form-contact-rdv">
            {{ form_start(form, {'action': '#form-contact-rdv'}) }}

            {% if 
                form_errors(form.content) is not empty or
                form_errors(form.email) is not empty or
                form_errors(form.lastName) is not empty or
                form_errors(form.firstName) is not empty or
                form_errors(form.tel) is not empty or
                form_errors(form.appointmentFor) is not empty or
                form_errors(form.availableDay) is not empty or
                form_errors(form.availableTime) is not empty
            %}
                <div class="alert alert-danger">
                    <div>
                        <strong>Erreur ! </strong>Un ou plusieurs champs du formulaire ne sont pas valides.
                    </div>
                    <div>
                        <span class="close">×</span>
                    </div>
                </div>
            {% endif %}

            {{ form_errors(form) }}

            <div class="form-column-2">
                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.lastName, "Nom *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-widget'}}) }}
                    </div>
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.firstName, "Prénom *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-widget'}}) }}
                    </div>
                    {{ form_errors(form.firstName) }}
                </div>
            </div>

            <div class="form-column-2">
                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.email, "E-mail *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.email, {'attr': {'class': 'form-widget'}}) }}
                    </div>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.tel, "Téléphone *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.tel, {'attr': {'class': 'form-widget phone'}}) }}
                    </div>
                    {{ form_errors(form.tel) }}
                </div>
            </div>
            
            <br>
            <div class="form-group">
                <div class="form-label bold">
                    {{ form_label(form.appointmentFor, "Rendez-vous pour une séance de : *") }}
                </div>
                <div class="form-field">
                    {{ form_widget(form.appointmentFor, {'attr': {'class': 'form-widget-checkbox'}}) }}
                </div>
                {{ form_errors(form.appointmentFor) }}
            </div>
            
            <br>
            <div class="form-group">
                <div class="form-label bold">
                    {{ form_label(form.availableDay, "Quelles sont vos disponibilités ? (facultatif)") }}
                </div>
                <div class="form-field">
                    {{ form_widget(form.availableDay, {'attr': {'class': 'form-widget-checkbox'}}) }}
                </div>
                {{ form_errors(form.availableDay) }}
            </div>
            
            <br>
            <div class="form-group">
                <div class="form-label">
                    <span class="nowrap">{{ form_label(form.availableTime, "Heures souhaitées (facultatif)") }}</span>
                </div>
                <div class="form-field">
                    {{ form_widget(form.availableTime, {'attr': {'class': 'form-widget'}}) }}
                </div>
                {{ form_errors(form.availableTime) }}
            </div>

            <br>
            <div class="form-group">
                <div class="form-label">
                    <span class="nowrap">{{ form_label(form.content, "Votre message *") }}</span>
                </div>
                <div class="form-field">
                    {{ form_widget(form.content, {'attr': {'class': 'form-widget'}}) }}
                </div>
                {{ form_errors(form.content) }}
            </div>

            <p>* : champs obligatoires</p>

            <div class="center">
                {{ form_widget(form.envoyer, {'label': 'Envoyer', 'attr': {'class': 'has-spinner'}}) }}
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script>
        $.validator.addMethod( "tel", function(value, element) {
            return this.optional(element) || /^\d{2} \d{2} \d{2} \d{2} \d{2}$/.test(value);
        }, "Merci d'entrer un numéro de téléphone valide (10 chiffres espacés : XX XX XX XX XX)" );
        
        $.validator.methods.email = function(value, element) {
            return this.optional(element) || /[a-z]+@[a-z]+\.[a-z]+/.test(value);
        }

        $("form").validate({
            rules: {
                "contact_rdv[lastName]": "required",
                "contact_rdv[firstName]": "required",
                "contact_rdv[email]": {
                    required: true,
                    email: true
                },
                "contact_rdv[tel]": {
                    required: true,
                    tel: true
                },
                "contact_rdv[appointmentFor][]": {
                    required: true
                },
                "contact_rdv[content]": "required"
            },
            messages: {
                "contact_rdv[lastName]": "Vous devez entrer votre nom.",
                "contact_rdv[firstName]": "Vous devez entrer votre prénom.",
                "contact_rdv[email]": {
                    required: "Vous devez entrer votre adresse email.",
                    email: "Veuillez rentrer une adresse email valide."
                },
                "contact_rdv[tel]": {
                    required: "Vous devez entrer votre numéro de téléphone."
                },
                "contact_rdv[appointmentFor][]": "Vous devez sélectionner au moins un choix.",
                "contact_rdv[content]": "Vous devez remplir le contenu de votre message."
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent());
            }
            
        });
        

        $('#contact_rdv_envoyer').click(function() {
            var btn = $(this);
            var form = $("form");
            if (form.valid()) {
                $(btn).html('<i class="fa fa-spinner fa-spin"></i> Envoi en cours');
            }
        });
    </script>
{% endblock %}
