{% extends "::structure.html.twig" %}

{% block metaTitle %}Contact{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuContact %}class="activeMenu"{% endblock %}
{% block activeMenuContact %}class="activeMenu"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Contact</h2>
        
        <p>
                Si vous désirez faire une demande de rendez-vous, merci de cliquer sur le lien <span class="nowrap">suivant :</span> <a href="{{ path('website_contact_rdv') }}">prendre un rendez-vous</a>.
            </p>
    </div>
    
    <div id="contact-bloc" class="bloc">
        <div>
            <h4>Mes coordonnées</h4>
            
            <div id="mes_coordonees">
                <div class="coordonnees-bloc">
                    <p>
                        <a href="https://www.google.com/maps/place/37+Rue+Johann+Strauss,+34690+Fabr%C3%A8gues,+France/@43.557495,3.78441,16z/data=!4m5!3m4!1s0x12b6b261a492ec1f:0xb18b41b86d107!8m2!3d43.5590464!4d3.7861691?hl=fr" target="_blank" title="Allez sur Google Map">
                            37 rue Johann Strauss<br>
                            34690 Fabrègues
                        </a>
                    </p>
                    <p>
                        <a href="tel:+33622437901" title="Appelez-moi" class="nowrap">06 22 43 79 01</a>
                    </p>
                    <p>
                        <a href="" target="_blank">www.nicolecanivenq.fr</a>
                    </p>
                    <p>
                        <a id="logo-facebook" href="https://www.facebook.com/canivenq.nicole" target="_blank" title="Visitez ma page Facebook">
                            <img width="50" src="{{ asset('img/logo-facebook.png') }}" alt="Logo Facebook">
                        </a>
                    </p>
                </div>
            </div>
                
        </div>
        <div>
            <h4 id="formulaire_contact">Formulaire de contact</h4>

            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                <div>
                    <strong>Message flash :</strong> {{ message }}
                </div>
                <div>
                    <span class="close">×</span>
                </div>
            </div>
            {% endfor %}

            <div class="form-contact">
                {{ form_start(form, {'action': '#formulaire_contact'}) }}

                {% if form_errors(form.subject) is not empty or
                    form_errors(form.content) is not empty or
                    form_errors(form.email) is not empty or
                    form_errors(form.lastName) is not empty or
                    form_errors(form.firstName) is not empty or
                    form_errors(form.tel) is not empty 
                %}
                    <div class="alert alert-danger">
                        <div>
                            <strong>Erreur ! </strong>Un ou plusieurs champs du formulaire ne sont pas valides.
                        </div>
                        <div>
                            <span class="close">×</span>
                        </div>
                    </div>
                {% endif %}

                {{ form_errors(form) }}
                
                <div class="form-column-2">
                    <div class="form-group">
                        <div class="form-label">
                            <span class="nowrap">{{ form_label(form.lastName, "Nom *") }}</span>
                        </div>
                        <div class="form-field">
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-widget'}}) }}
                        </div>
                        {{ form_errors(form.lastName) }}
                    </div>
                    
                    <div class="form-group">
                        <div class="form-label">
                            <span class="nowrap">{{ form_label(form.firstName, "Prénom *") }}</span>
                        </div>
                        <div class="form-field">
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-widget'}}) }}
                        </div>
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>
                
                <div class="form-column-2">
                    <div class="form-group">
                        <div class="form-label">
                            <span class="nowrap">{{ form_label(form.email, "E-mail *") }}</span>
                        </div>
                        <div class="form-field">
                            {{ form_widget(form.email, {'attr': {'class': 'form-widget'}}) }}
                        </div>
                        {{ form_errors(form.email) }}
                    </div>
                    
                    <div class="form-group">
                        <div class="form-label">
                            <span class="nowrap">{{ form_label(form.tel, "Téléphone *") }}</span>
                        </div>
                        <div class="form-field">
                            {{ form_widget(form.tel, {'attr': {'class': 'form-widget phone'}}) }}
                        </div>
                        {{ form_errors(form.tel) }}
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.subject, "Sujet *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.subject, {'attr': {'class': 'form-widget'}}) }}
                    </div>
                    {{ form_errors(form.subject) }}
                </div>
                
                <div class="form-group">
                    <div class="form-label">
                        <span class="nowrap">{{ form_label(form.content, "Votre message *") }}</span>
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.content, {'attr': {'class': 'form-widget'}}) }}
                    </div>
                    {{ form_errors(form.content) }}
                </div>
                
                <p>* : champs obligatoires</p>

                <div class="center">
                    {{ form_widget(form.envoyer, {'label': 'Envoyer'}) }}
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script> 
    <script>
        $.validator.addMethod( "tel", function(value, element) {
            return this.optional(element) || /^\d{2} \d{2} \d{2} \d{2} \d{2}$/.test(value);
        }, "Merci d'entrer un numéro de téléphone valide (10 chiffres espacés : XX XX XX XX XX)" );
        
        $.validator.methods.email = function(value, element) {
            return this.optional(element) || /[a-z]+@[a-z]+\.[a-z]+/.test(value);
        }

        
        $("form").validate({
            rules: {
                "contact[lastName]": "required",
                "contact[firstName]": "required",
                "contact[email]": {
                    required: true,
                    email: true
                },
                "contact[tel]": {
                    required: true,
                    tel: true
                },
                "contact[subject]": "required",
                "contact[content]": "required"
            },
            messages: {
                "contact[lastName]": "Vous devez entrer votre nom.",
                "contact[firstName]": "Vous devez entrer votre prénom.",
                "contact[email]": {
                    required: "Vous devez entrer votre adresse email.",
                    email: "Veuillez rentrer une adresse email valide."
                },
                "contact[tel]": {
                    required: "Vous devez entrer votre numéro de téléphone."
                },
                "contact[subject]": "Vous devez remplir l'objet de votre message.",
                "contact[content]": "Vous devez remplir le contenu de votre message."
            }
        });
        
        
        $('#contact_envoyer').click(function() {
            var btn = $(this);
            var form = $("form");
            if (form.valid()) {
                $(btn).html('<i class="fa fa-spinner fa-spin"></i> Envoi en cours');
            }
        });
    </script>  
{% endblock %}
