{% if listAdvertsSophro is not empty %}
    <h5><a style="color:inherit;" href="{{ path('website_sophrologie_ateliers_stages') }}#calendar" title="Voir toutes les actualités de Sophrologie">Sophrologie</a></h5>
    {% for advert in listAdvertsSophro %}
        <p>
            - <a style="font-weight:normal;" href="{{ path('website_actualites', {'id': advert.id}) }}">
            {% if advert.dateEnd is null %}
                {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% else %}
                du {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} au {{ advert.dateEnd|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% endif %}
            : "{{ advert.title }}"</a>
        </p>
    {% endfor %}
{% endif %}

{% if listAdvertsSoins is not empty %}
    <h5>Soins énergétiques</h5>
    {% for advert in listAdvertsSoins %}
        <p>
            - <a style="font-weight:normal;" href="{{ path('website_actualites', {'id': advert.id}) }}">
            {% if advert.dateEnd is null %}
                {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% else %}
                du {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} au {{ advert.dateEnd|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% endif %}
            : "{{ advert.title }}"</a>
        </p>
    {% endfor %}
{% endif %}

{% if listAdvertsAutre is not empty %}
    <h5>Autre</h5>
    {% for advert in listAdvertsAutre %}
        <p>
            - <a style="font-weight:normal;" href="{{ path('website_actualites', {'id': advert.id}) }}">
            {% if advert.dateEnd is null %}
                {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% else %}
                du {{ advert.date|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} au {{ advert.dateEnd|localizeddate('full', 'none', null, null, 'dd/MM/yyyy') }} 
            {% endif %}
            : "{{ advert.title }}"</a>
        </p>
    {% endfor %}
{% endif %}

