{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Soins énergétiques</h2>
        
        <div class="center">
            <img id="img-soins-energetiques" src="{{ asset('img/soins-energetiques.jpg') }}" alt="Image de soins énergétiques">        
        </div>
        
        <p>
            Les techniques de soins énergétiques reposent sur le principe que l’organisme est composé d’un réseau d’énergie vitale. Les traumatismes auxquels on a pu être confrontés vont alors créer des déséquilibres plus ou moins importants, des fuites d’énergies qui vont se manifester sur le plan physique (sous la forme de troubles divers), émotionnel ou mental. Les traumatismes peuvent être nôtres bien entendu (vécus dans l’enfance ou plus tard) mais aussi ceux de notre lignée quand ils n’ont pas été intégrés et dissous par nos ancêtres (déni, secrets de famille…). Ils n’en restent pas moins actifs en nous, même si nous n’en voulons pas.
        </p>
        <p>
            Un soin énergétique est donc une approche holistique de la personne incluant les champs énergétiques subtils. Il travaille sur les 4 plans de <span class="nowrap">l’être :</span> physique par résonnance, mental, émotionnel et spirituel. 
        </p>
        <p>
            Il consiste à purifier, nettoyer, libérer, harmoniser et rétablir la circulation de l’énergie vitale du corps. Parfois, on est amené à travailler sur la libération des nœuds familiaux et karmiques.
        </p>
    </div>
       
    <div class="bloc">
        <h4 id="soins-comment">Comment ça <span class="nowrap">fonctionne ?</span></h4>
        
        <p>
            Notre corps est entouré d’une enveloppe énergétique appelée «aura». En passant mes mains au dessus de votre corps physique, je peux ressentir et percevoir les trous, les décalages de l’aura, les fuites, les chocs émotionnels et effectuer la réparation par l’Energie. Je suis simplement un canal. Lorsque qu’une personne subie un choc physique, psychologique, émotionnel ou une intervention chirurgicale, les différents corps (physique et subtils) enregistrent notre vécu et il est parfois nécessaire de retirer les mémoires.
        </p>
        <p>
            Pour terminer le soin, je canalise et transmet l'Énergie au patient par imposition des mains pour activer le processus naturel de guérison.
        </p>
    </div>
        
    <div class="bloc">   
        <div class="bloc-links-2">
            <div>
                <div>
                    <img src="{{ asset('img/soins-energetiques.jpg') }}" alt="Thérapies énergétiques">
                    <figcaption>Aurathérapie et magnétisme</figcaption>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo nisi, venenatis id mollis a, commodo et leo.</p>
                </div>
                <a class="button" href="{{ path('website_soins_energetiques_therapies') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/soins-energetiques.jpg') }}" alt="Soin chamanique">
                    <figcaption>Soin chamanique</figcaption>
                    <p>Aliquam nec lectus ut odio auctor imperdiet at quis ligula. Maecenas accumsan libero ac magna vehicula, euismod luctus nibh condimentum.</p>
                </div>
                <a class="button" href="{{ path('website_soins_energetiques_chamaniques') }}">Découvrir</a>
            </div>    
        </div>
    </div>
    
    <div class="bloc">
        <p class="citation">
            <span class="nowrap">« La</span> recherche moderne a apporté la preuve que l’être humain n’était pas uniquement constitué de matière, mais qu’il était également psychique et énergétique. De plus, l’astrophysique, la physique quantique et la recherche sur la pensée et les émotions ont permis de relier les différentes médecines modernes, traditionnelles et <span class="nowrap">énergétiques. »</span> Docteur <span class="nowrap">Luc Bodin</span>
        </p>
    </div>
{% endblock %}
