{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc center">
        <h2>Soins énergétiques</h2>
        
        <img id="img-soins-energetiques" src="{{ asset('img/soins-energetiques.jpg') }}" alt="Image de soins énergétiques">
        
        <p>
            Donec in justo lorem. Praesent sed sem quis libero imperdiet hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eget sollicitudin felis, vel facilisis ligula. Nunc luctus sit amet tellus dignissim rutrum. Cras ac tellus eget risus dignissim lacinia. Nulla eget tincidunt lacus. Phasellus sit amet nunc dictum lorem blandit tincidunt vitae id leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse tristique ultricies metus, eu rutrum lorem molestie eu. 
        </p>
    </div>
       
    <div class="bloc">
        <h4>Lorem Ipsum</h4>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo nisi, venenatis id mollis a, commodo et leo. Aliquam nec lectus ut odio auctor imperdiet at quis ligula. Maecenas accumsan libero ac magna vehicula, euismod luctus nibh condimentum. Nulla malesuada semper egestas. Vivamus lobortis vestibulum ligula vitae posuere. Ut eget lorem ut ex finibus dignissim. Ut quam mauris, feugiat ac est vitae, dictum faucibus turpis. Etiam vulputate vel odio at semper. Nullam vel nisi ut quam dictum ultrices quis vitae augue. Maecenas euismod volutpat aliquam. 
        </p>
        <p>
            Quisque consequat egestas consectetur. Nullam porttitor libero vitae lacus posuere commodo. Phasellus a leo hendrerit, laoreet justo eu, laoreet enim. Nulla malesuada pulvinar justo id ornare. Morbi tempor, neque non vehicula venenatis, tortor justo euismod orci, nec facilisis ipsum massa ac felis. Cras euismod lorem et metus sollicitudin luctus. Curabitur sodales libero lectus, non iaculis dui laoreet nec. Maecenas dignissim elit a justo pretium porttitor. Praesent tellus ipsum, consequat quis lobortis at, semper porttitor mauris. Integer aliquam egestas viverra. Nullam dictum consequat massa quis aliquet. Duis et metus finibus, luctus nulla sed, bibendum ligula. Nulla non tortor dignissim, tincidunt purus a, pretium nunc. Nulla facilisi. Mauris at metus mollis, finibus leo at, mattis elit. Praesent tincidunt, arcu ut rhoncus varius, ex tortor placerat nisi, non placerat erat ligula et velit. 
        </p>
    </div>
        
        
        
    
    <div class="bloc">   
        <div class="bloc-links-2">
            <div>
                <div>
                    <img src="{{ asset('img/soins-energetiques.jpg') }}" alt="Thérapies énergétiques">
                    <figcaption>Aura-thérapie et magnétisme</figcaption>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo nisi, venenatis id mollis a, commodo et leo.</p>
                </div>
                <a class="button" href="{{ path('website_soins_energetiques_therapies') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/soins-energetiques.jpg') }}" alt="Soin chamanique">
                    <figcaption>Soin chamanique</figcaption>
                    <p>Aliquam nec lectus ut odio auctor imperdiet at quis ligula. Maecenas accumsan libero ac magna vehicula, euismod luctus nibh condimentum.</p>
                </div>
                <a class="button" href="{{ path('website_soins_energetiques_chamaniques') }}">Découvrir</a>
            </div>    
        </div>
    </div>
{% endblock %}
