{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}class="activeMenu"{% endblock %}
{% block activeMenuSophrologie %}class="activeMenu"{% endblock %}

{% block main %}
   <div class="bloc">   
        <div class="bloc-links">
            <div>
                <div>
                    <img src="{{ asset('img/slide1.jpg') }}" alt="Séances individuelles">
                    <figcaption>Séances individuelles</figcaption>
                    <p>La séance est créée en fonction des objectifs spécifiques de la personne qui consulte, c'est du "sur mesure".</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_individuel') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/slide1.jpg') }}" alt="Séances de groupe">
                    <figcaption>Séances de groupe</figcaption>
                    <p>Un groupe de sophrologie comprend maximum 12 personnes. Chacun s'inscrit  pour le module de son choix, selon le thème qui l'intéresse.</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_groupe') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/ateliers_et_stages-mini.jpg') }}" alt="Ateliers et stages">
                    <figcaption>Ateliers et stages</figcaption>
                    <p>Des modules de formation et stages vous permettrons de développer vos potentiels, d'acquérir des outils et d'enrichir toute votre relation à la Vie.</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_ateliers_stages') }}">Découvrir</a>
            </div>    
        </div>
    </div>
    
    <div class="bloc">
        <h4>C’est quoi la sophrologie ?</h4>
        <p>
            Le mot « sophrologie » vient du grec :
            <ul>
                <li>SOS sérénité, harmonie</li>
                <li>PHREN cerveau, conscience</li>
                <li>LOGOS science, étude</li>
            </ul>
            La sophrologie est une science qui étudie la conscience humaine, elle se pratique par un ensemble de techniques et de méthodes à médiation corporelle.  Son but est la conquête ou le renfort de l’<stron>équilibre intérieur de la personne</stron>.
        </p>
        <p>
            Elle fut créée en <strong>1960</strong> par un <strong>médecin neuropsychiatre</strong>, Alfonso <strong>CAYCEDO</strong>, né en Colombie en 1932. En sophrologie, on prend conscience en profondeur de son corps, de nos sensations puis de son esprit et également de nos émotions. Petit à petit, nous remettons en communication le corps, l'esprit et le cœur, pour renouer le contact avec notre Etre Intérieur. La pratique permet d’identifier et de se libérer de nos freins et blocages et nous amène à redécouvrir qui nous sommes véritablement : un être humain unique, magnifique, autonome, authentique, riche de potentiels, libre, digne d’être aimé et responsable de sa vie.
        </p>
        <p>
            L’approche est <strong>psycho-corporelle</strong> et elle est fondée sur le renforcement des structures positives de l’être (mentales, corporelles émotionnelles, spirituelles).
        </p>
        <p>
            A. CAYCEDO a été inspiré par les pensées et pratiques Occidentales (phénoménologie, hypnose, psychologie) et Orientales (Yoga, Zen, Bouddhisme).
        </p>
    </div>
    
    <div style="margin-top:-20px;" class="bloc">
        <h4>Les techniques utilisées :</h4>
        <ul class="space-list">
            <li><span class="underline">Les techniques de relaxation statique</span> vont  mobiliser notre mental, notre imaginaire et s’effectuent le plus souvent sous forme de visualisation créatrice. Elles se pratiquent assis ou allongé.</li>
            <li><span class="underline">Les techniques de relaxation dynamique</span> mobiliseront plus notre corps. Elles forment une méthode pour développer notre conscience dans sa relation à notre corps Les 4 premiers degrés de la relaxation dynamique sont les plus utilisés. Elle se pratique debout ou / et assis.</li>
        </ul>
        <p>
            Tous les entraînements sont effectués au niveau « sophroliminal », il s’agit d’un niveau particulier de conscience « au bord du sommeil » qui, par ses qualités spécifiques, permet de renforcer l’efficacité des techniques.
        </p>
    </div>   
{% endblock %}
