{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie{% endblock %}
{% block metaDescription %}La sophrologie est une science qui étudie la conscience humaine, elle se pratique par des techniques à médiation corporelle et vise l'harmonie intérieure{% endblock %}
{% block activeSideMenuSophrologie %}class="activeMenu"{% endblock %}
{% block activeMenuSophrologie %}class="activeMenu"{% endblock %}

{% block main %}    
    <div class="bloc">
        <h2>C’est quoi la <span class="nowrap">sophrologie ?</span></h2>
    </div>
    
    <div class="bloc">   
        <div class="bloc-links">
            <div>
                <div>
                    <img src="{{ asset('img/seances_individuelles.png') }}" alt="Séances individuelles">
                    <figcaption>Séances individuelles</figcaption>
                    <p>La séance est créée en fonction des objectifs de la personne.</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_individuel') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/seances_groupe.jpg') }}" alt="Séances en groupe">
                    <figcaption>Séances en groupe</figcaption>
                    <p>Chacun s'inscrit  pour le module de son choix, selon le thème qui l'intéresse.</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_groupe') }}">Découvrir</a>
            </div>
            <div>
                <div>
                    <img src="{{ asset('img/ateliers_et_stages.jpg') }}" alt="Ateliers et stages">
                    <figcaption>Ateliers et stages</figcaption>
                    <p>Ils vous permettront de développer vos potentiels et d'acquérir des outils.</p>
                </div>
                <a class="button" href="{{ path('website_sophrologie_ateliers_stages') }}">Découvrir</a>
            </div>    
        </div>
    </div>
    
    <div class="bloc">
        <p>
            Le mot <span class="nowrap">« sophrologie »</span> vient du <span class="nowrap">grec :</span>
            <ul>
                <li>SOS sérénité, harmonie</li>
                <li>PHREN cerveau, conscience</li>
                <li>LOGOS science, étude</li>
            </ul>
            La sophrologie est une science qui étudie la conscience humaine, elle se pratique par un ensemble de techniques et de méthodes à médiation corporelle.  Son but est la conquête ou le renfort de l’<stron>équilibre intérieur de la personne</stron>.
        </p>
        <p>
            Elle fut créée en <strong>1960</strong> par un <strong>médecin neuropsychiatre</strong>, Alfonso <strong>CAYCEDO</strong>, né en Colombie en 1932. Elle permet de prendre conscience en profondeur de son corps, de ses sensations, de son esprit et également de ses émotions. Petit à petit, l’harmonie et la communication se retrouvent dans le corps, l'esprit et le cœur. La personne renoue un vrai contact avec son Être Intérieur et ses propres valeurs.
        </p>
        <p>
            L’approche est <strong><span class="nowrap">psycho-corporelle</span></strong> et elle est fondée sur le renforcement des structures positives de l’être (mentales, corporelles émotionnelles, spirituelles).
        </p>
        <p>
            <span class="nowrap">A. CAYCEDO</span> a été inspiré par les pensées et pratiques Occidentales (Phénoménologie, Hypnose, Psychologie) et Orientales (Yoga, Zen, Bouddhisme).
        </p>
    </div>
    
    <div style="margin-top:-20px;" class="bloc">
        <h4>Les techniques utilisées</h4>
        <ul class="space-list">
            <li><span class="underline">Les techniques de relaxation statique</span> vont  mobiliser notre mental, notre imaginaire et s’effectuent le plus souvent sous forme de visualisation créatrice. Elles se pratiquent assis ou allongé.</li>
            <li><span class="underline">Les techniques de relaxation dynamique</span> mobiliseront plus notre corps. Elles forment une méthode pour développer notre conscience dans sa relation à notre corps. Les 4 premiers degrés de la relaxation dynamique sont les plus utilisés. Elle se pratique debout <span class="nowrap">ou / et</span> assis.</li>
        </ul>
        <p>
            Tous les entraînements sont effectués au niveau <span class="nowrap">« sophroliminal »</span>, il s’agit d’un niveau particulier de conscience <span class="nowrap">« au</span> bord du <span class="nowrap">sommeil »</span> qui, par ses qualités spécifiques, permet de renforcer l’efficacité des techniques.
        </p>
    </div>
    
    <div class="bloc">
        <p class="citation">
            « Soigne ton cerveau et ton cerveau prendra soin de ton existence, soigne ton cœur et ton coeur prendra soin de ta <span class="nowrap">vie ! »</span> <span class="nowrap">Alfonso Caycedo</span>
        </p>
    </div>
{% endblock %}
