{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Ateliers et stages{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSophrologieAteliersStages %}class="activeMenu"{% endblock %}
{% block activeMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeMenuSophrologieAteliersStages %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Ateliers et stages</h2>
        
        <div class="center">
           <img class="image-top" style="border-radius:10px;" src="{{ asset('img/ateliers_et_stages.jpg') }}" alt="Image d'une salle pour des ateliers ou des stages">
        </div>
        <p>
            J’anime des ateliers mensuels de <span class="nowrap">3 H</span> autour de divers thèmes à <span class="nowrap">l’institut Holos</span> à <span class="nowrap">St Georges d’Orques</span> et à la <span class="nowrap">Maison des Associations</span> à <span class="nowrap">St Jean de Védas.</span>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="calendar">Le calendrier : Sophrologie</h4>
        
        {# Bouton ajouter une actualité + messages flash #}
        {% if is_granted('ROLE_ADMIN') %}
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <div>
                        <strong>Message flash :</strong> {{ message }}
                    </div>
                    <div>
                        <span class="close">×</span>
                    </div>
                </div>
            {% endfor %}
            <div class="center">
                <a href="{{ path('admin_add') }}" class="button-add">
                    Ajouter une actualité
                </a>
            </div>
        {% endif %}
        
        {# Actualités en base de données #}
        {# St Georges d'Orques #}
        <div id="sophrologie-caldendrier" class="center">
            <h5>À <span class="nowrap">St Georges d'Orques :</span></h5>
            {% if listAdverts1 is not empty %}
                <ul class="space-list">
                    {% for advert in listAdverts1 %}
                        {{ include("WebsiteBundle:Website:inc_actualites_calendar.html.twig") }}
                    {% endfor %}
                </ul>
            {% else %}
                Programme à venir.
            {% endif %}
        </div>
           
        {# St Jean de Védas #}
        <div id="sophrologie-caldendrier" class="center">
            <h5>À <span class="nowrap">St Jean de Védas :</span></h5>
            {% if listAdverts2 is not empty %}
                <ul class="space-list">
                    {% for advert in listAdverts2 %}
                        {{ include("WebsiteBundle:Website:inc_actualites_calendar.html.twig") }}
                    {% endfor %}
                </ul>
            {% else %}
                Programme à venir.
            {% endif %}
        </div>
           
        {# Autres lieux #}
        {% if listAdverts3 is not empty %}
            <div id="sophrologie-caldendrier" class="center">
                <h5><span class="nowrap">Autres lieux :</span></h5>
                <ul class="space-list">
                    {% for advert in listAdverts3 %}
                        {{ include("WebsiteBundle:Website:inc_actualites_calendar.html.twig") }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="bloc">
        <h4>Informations pratiques et tarifs</h4>
        
        <p>
            <strong><span class="nowrap">Adresses :</span></strong>
            <ul>
                <li>à <span class="nowrap">l’institut Holos :</span> <span class="nowrap">17 rue de la Cadelle</span>, 34680 <span class="nowrap">St Georges d’Orques,</span></li>
                <li>à la <span class="nowrap">Maison des Associations :</span> <span class="nowrap">18 rue Fon de l'Hospital</span>, 34430 <span class="nowrap">St Jean de Védas.</span></li>
            </ul>
            <br>
            <div id="maps">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81576.33577012549!2d3.723056012825414!3d43.603855620993365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6ad1c9716a205%3A0xdea1753a8d62d14a!2s17+Rue+de+la+Cadelle%2C+34680+Saint-Georges-d&#39;Orques%2C+France!5e0!3m2!1sfr!2sfr!4v1476710187056" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d92401.3330443365!2d3.803418243164063!3d43.636897755075715!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f642aea96b84e0!2sMaisons+des+Associations!5e0!3m2!1sfr!2sfr!4v1477311857869" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <br>
            <br>
            <strong>Tarif par <span class="nowrap">atelier :</span> </strong><span class="nowrap">50 euros.</span> Dégressif dès le 2ème atelier <span class="nowrap">réservé :</span> <span class="nowrap">45 euros l’un.</span>
        </p>
    </div>
    
    <div class="bloc">
        <p class="citation">
            <span class="nowrap">« Seul</span> le travail de conscience, d'attention et de présence à soi-même permet cette transformation de notre qualité <span class="nowrap">d'énergie. »</span>  <span class="nowrap">Nicole Canivenq</span>
        </p>
    </div>
{% endblock %}