<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nicole CANIVENQ - {% block metaTitle %}{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{% endblock %}"> 
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    {% endblock %}
    
    <!-- Google Analytics -->
    <script>
    </script>
</head>

<body id="top">

<div id="side-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <span>&#10005;</span>
    </a>
 
    <ul id="side-menu-deroulant">
        <li>
            <a {% block activeSideMenuIndex %}{% endblock %} href="{{ path('website_index') }}">Bienvenue</a>
        </li>
        <li>
            <a {% block activeSideMenuSophrologie %}{% endblock %} href="{{ path('website_sophrologie') }}">Sophrologie</a>
            
            <span id="side-menu-glyphicon-right-sophrologie" class="glyphicon glyphicon-menu-right" onclick="expandNav('sophrologie')"></span>
            <span id="side-menu-glyphicon-down-sophrologie" class="glyphicon glyphicon-menu-down" onclick="unexpandNav('sophrologie')"></span>
            
            <ul id="side-menu-expand-sophrologie">
                <li>
                    <a {% block activeSideMenuSophrologieIndividuel %}{% endblock %} href="{{ path('website_sophrologie_individuel') }}">Séances individuelles</a>
                </li>
                <li>
                    <a {% block activeSideMenuSophrologieGroupe %}{% endblock %} href="{{ path('website_sophrologie_groupe') }}">Séances de groupe</a>
                </li>
                <li>
                    <a {% block activeSideMenuSophrologieAteliersStages %}{% endblock %} href="{{ path('website_sophrologie_ateliers_stages') }}">Ateliers et stages</a>
                </li>
            </ul>
        </li>
        <li>
            <a {% block activeSideMenuSoinsEnergetiques %}{% endblock %} href="{{ path('website_soins_energetiques') }}">Soins énergétiques</a>
            
            <span id="side-menu-glyphicon-right-soins-energetiques" class="glyphicon glyphicon-menu-right" onclick="expandNav('soins-energetiques')"></span>
            <span id="side-menu-glyphicon-down-soins-energetiques" class="glyphicon glyphicon-menu-down" onclick="unexpandNav('soins-energetiques')"></span>
            
            <ul id="side-menu-expand-soins-energetiques">
                <li>
                    <a href="">Sous-menu 1</a>
                </li>
                <li>
                    <a href="">Sous-menu 2</a>
                </li>
                <li>
                    <a href="">Sous-menu 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a {% block activeSideMenuQuiSuisJe %}{% endblock %} href="{{ path('website_qui_suis_je') }}">Qui suis-je ?</a>
            
            <span id="side-menu-glyphicon-right-qui-suis-je" class="glyphicon glyphicon-menu-right" onclick="expandNav('qui-suis-je')"></span>
            <span id="side-menu-glyphicon-down-qui-suis-je" class="glyphicon glyphicon-menu-down" onclick="unexpandNav('qui-suis-je')"></span>
            
            <ul id="side-menu-expand-qui-suis-je">
                <li>
                    <a {% block activeSideMenuQuiFormationParcours %}{% endblock %} href="{{ path('website_qui_formation_parcours') }}">Formation et parcours</a>
                </li>
                <li>
                    <a {% block activeSideMenuQuiMesValeurs %}{% endblock %} href="{{ path('website_qui_mes_valeurs') }}">Mes valeurs</a>
                </li>
            </ul>
        </li>
        <li>
            <a {% block activeSideMenuBibliographie %}{% endblock %} href="{{ path('website_bibliographie') }}">Bibliographie</a>
        </li>
        <li>
            <a {% block contact %}{% endblock %} href="{{ path('website_contact') }}">Contact</a>
        </li>
    </ul>  
</div>

<div id="body-content">
   
    <div id="cover" onclick="closeNav()"></div>
    
    <header>
        <div id="header-content">
            <div id="header-logo">
                <img style="width:150px;margin-bottom:20px;" src="{{ asset('img/header-logo.png') }}" alt="Logo arbre">
                Nicole CANIVENQ
            </div>
            <div id="header-title">
                <h1>Sophrologue et  Praticienne en Soins Énergétiques</h1>
            </div>
            <div id="header-contact">
                <p>Fabrègues, Montpellier et environs</p>
                <p><a class="button" href="">Prendre rendez-vous</a></p>
                <div class="fb-like" 
                    data-href="http://www.sophrologieactive.com/qui_suis_je___048.htm" 
                    data-layout="button_count" 
                    data-action="like" 
                    data-size="small" 
                    data-show-faces="true" 
                    data-share="true">
                </div>
            </div>
        </div>
    </header>
    
    <nav>
        <ul id="menu-deroulant">
            <li>
                <a {% block activeMenuIndex %}{% endblock %} href="{{ path('website_index') }}">Bienvenue</a>
            </li>
            <li>
                <a {% block activeMenuSophrologie %}{% endblock %} href="{{ path('website_sophrologie') }}">Sophrologie</a>
                <ul style="width:210px;">
                    <li>
                        <a {% block activeMenuSophrologieIndividuel %}{% endblock %} href="{{ path('website_sophrologie_individuel') }}">Séances individuelles</a>
                    </li>
                    <li>
                        <a {% block activeMenuSophrologieGroupe %}{% endblock %} href="{{ path('website_sophrologie_groupe') }}">Séances de groupe</a>
                    </li>
                    <li>
                        <a {% block activeMenuSophrologieAteliersStages %}{% endblock %} href="{{ path('website_sophrologie_ateliers_stages') }}">Ateliers et stages</a>
                    </li>
                </ul>
            </li>
            <li>
                <a {% block activeMenuSoinsEnergetiques %}{% endblock %} href="{{ path('website_soins_energetiques') }}">Soins énergétiques</a>
                <ul>
                    <li>
                        <a href="">Sous-menu 1</a>
                    </li>
                    <li>
                        <a href="">Sous-menu 2</a>
                    </li>
                    <li>
                        <a href="">Sous-menu 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a {% block activeMenuQuiSuisJe %}{% endblock %} href="{{ path('website_qui_suis_je') }}">Qui suis-je ?</a>
                <ul style="width:210px;">
                    <li>
                        <a {% block activeMenuQuiFormationParcours %}{% endblock %} href="{{ path('website_qui_formation_parcours') }}">Formation et parcours</a>
                    </li>
                    <li>
                        <a {% block activeMenuQuiMesValeurs %}{% endblock %} href="{{ path('website_qui_mes_valeurs') }}">Mes valeurs</a>
                    </li>
                </ul>
            </li>
            <li>
                <a {% block activeMenuBibliographie %}{% endblock %} href="{{ path('website_bibliographie') }}">Bibliographie</a>
            </li>
            <li>
                <a {% block activeMenuContact %}{% endblock %} href="{{ path('website_contact') }}">Contact</a>
            </li>
        </ul>
        
        <span id="side-menu-button" onclick="openNav()">
            <span>&#9776;</span>
            Menu
        </span>   
    </nav>
     
    <div id="content">
        <div id="main">
            {% block main %}
            
            {% endblock %}
        </div>
        
        <div id="aside">
            <div id="aside-presentation">
                <figure>
                    <img src="{{ asset('img/nicole-canivenq.jpeg') }}" alt="Image de Nicole CANIVENQ">
                    <figcaption style="font-size:1.1em;">Nicole CANIVENQ</figcaption>
                </figure>
                <p>
                    Diplômée de l'Ecole Française de Sophrologie de Montpellier <br><br>
                    Contact : <a href="tel:+33622437901" title="Appelez-moi">06 22 43 79 01</a>
                </p>
            </div>
            
            <div id="aside-actualites">
                <h3>Actualités</h3>
                <p>- 16/10/2016 : "Un temps pour soi, centrage et présence"</p>
                <p>- 13/11/2016 : "Traverser la douleur et vivre l'instant présent"</p>
                <p>- 04/12/2016 : "Libération émotionnelle"</p>
            </div>
            
            <div id="aside-livre">
                <h3>Mon livre</h3>
                <figure>
                    <img width="90%" src="{{ asset('img/labre-du-choix.jpg') }}" alt="Image de mon livre : L'arbre du choix">
                </figure>
                <a class="button" href="http://livre.fnac.com/a2844010/Nicole-Canivenq-L-arbre-du-choix?oref=00000000-0000-0000-0000-000000000000&Origin=SEA_GOOGLE_PLA_BOOKS&adhce=crtdcvrt2014&mckv=m8tXsi0H_dc&pcrid=64457383703&ectrans=1&gclid=Cj0KEQjw7Ne_BRDRmP2ojKfzv98BEiQAPuqPye6WMzZXMMXocjXqE-K8EyKo6fTK1LiPOcMB4alRouwaApnF8P8HAQ" target="_blank">Acheter</a> 
            </div>
        </div>
    </div>
    
    <footer>
        <div id="footer-logos">
            <a href="http://www.syndicat-sophrologues.fr/" target="_blank"><img src="{{ asset('img/logo-membre-adh%C3%A9rent-syndicat.JPG') }}" alt="Logo du Syndicat des Sophrologues Professionnels"></a>
            <a href="https://www.sophrologie-francaise.com/" target="_blank"><img src="{{ asset('img/logo-societe-francaise-de-sophrologie.jpg') }}" alt="Logo de la Société Française de Sophrologie"></a>
            <a href="http://www.feps-sophrologie.fr/accueil.html" target="_blank"><img src="{{ asset('img/logo-federation-ecoles-sophro.jpg') }}" alt="Logo de la Fédération des Ecoles Professionnelles en Sophrologie"></a>
            <a href="http://www.ecole-formation-sophrologie.fr/" target="_blank"><img src="{{ asset('img/logo-ecole-fran%C3%A7aise-de-sophrologie.jpg') }}" alt="Logo de l'Ecole Française de Sophrologie"></a>
            <a href="http://www.sophrologie-recherche.com/" target="_blank"><img src="{{ asset('img/logo-ges.JPG') }}" alt="Logo G.E.S."></a>   
        </div>
        <div id="footer-text">
            <div>Nicole CANIVENQ - Tous droits réservés  © 2016</div>
            <div>Conception : Mickaël LALANDE - <a href="mailto:lalandeartdesign@gmail.com" title="Envoyer un email à Mickaël LALANDE" target="_blank">lalandeartdesign@gmail.com</a></div>
        </div>
    </footer>
</div>

<a id="ancre-top" href="#top" title="Revenir en haut de la page">
    <span class="glyphicon glyphicon-chevron-up"></span>
</a>

{% block javascripts %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
